<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<bean id="emp" class="com.ssi.Emp" >
		<property name="eno" value="111"/>
		<property name="ename" value="ABC"/>
	</bean>
	
<!-- 
	<bean id="emp" class="com.ssi.Emp" init-method="startTask">
		<property name="eno" value="111"/>
		<property name="ename" value="ABC"/>
	</bean>
 -->

<!-- 
	<bean id="emp" class="com.ssi.Emp" scope="singleton" lazy-init="true"  />
	<bean id="customer" class="com.ssi.Customer" scope="prototype" />
 -->
	


</beans>

